<!DOCTYPE html>
<html>
  <head>
    <% include ./partials-2/head %>
  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper" style="background-color: white">

      <% include ./partials-2/navbar %>
      <!-- Full Width Column -->
      <div class="content-wrapper" style="background: white">

          <%- body -%>

      </div><!-- /.content-wrapper -->

    </div><!-- ./wrapper -->
    <% include ./partials-2/footer %>

  <% include ./partials-2/interact %>
  </body>
</html>
