<% layout('blueprint-no') -%>


<div class="active tab-pane" id="activity">
  <!-- Post -->
  <div class="post">
    <div class="user-block">
      <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
      <span class='username'>
        <a href="#">Jonathan Burke Jr.</a>

      </span>
      <span class='description'>Shared publicly - 7:30 PM today</span>
    </div><!-- /.user-block -->
    <p>
      Lorem ipsum represents a long-held tradition for designers,
      typographers and the like. Some people hate it and argue for
      its demise, but others ignore the hate as they create awesome
      tools to help create filler text for everyone from bacon lovers
      to Charlie Sheen fans.
    </p>

  </div><!-- /.post -->

</div><!-- /.tab-pane -->
