<% layout('layout') -%>


<div class="row">

<div class="col-md-2">
  <img src="<%= user.profile.picture %>">

</div>

<div class="col-md-4">


</div>

<div class="col-md-6">
  <a href="/update-resume" class="btn btn-primary btn-lg">Edit Resume</a>

</div>
</div>
