<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spotask</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <link rel="stylesheet" href="/css/colorcode.css" type="text/css">
    <link id="favicon" rel="shortcut icon" href="/img/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <button type="link" class="navbar-toggle collapsed btn btn-link" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Sign In
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><div class="logoholder"><img src="/img/spotaskwhite.png" style="width: 100px" alt=""></div></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navi">
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Sign in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/signup">Signup</a>
                    </li>
                    <li>
                        <a href="/signup/company" class="btn btn-default supButton">Create a company's account</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <img src="/img/spotaskwhite.png" style="width: 34%">


                <div class="cta_subheader"><strong>Restoring the jobless</strong></div>

            </div>
        </div>

        <aside class="bg-dark">
            <div class="container text-left">



                    <div class="col-sm-2 col-sm-offset-1 col-xs-12">


                    </div>
                    <div class="col-sm-2 col-xs-6 nav_col">
                        <ul>
                            <li><a href="https://slack.com/brand-guidelines">Brand Guidelines</a></li>
                            <li><a href="https://slack.com/jobs">Jobs</a></li>
                            <li><a href="http://slackatwork.com">Slack at Work</a></li>
                            <li><a href="https://slack.zendesk.com/hc/en-us">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-xs-6 nav_col">
                        <ul>
                            <li><a href="https://slack.com/privacy-policy">Privacy</a></li>
                            <li><a href="https://slack.com/security">Security</a></li>
                            <li><a href="https://slack.com/terms-of-service">Terms of Service</a></li>
                            <li><a href="https://slack.com/policies">Policies</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-xs-6 nav_col">
                        <ul>
                            <li><a href="https://status.slack.com/">Status</a></li>
                            <li><a href="https://api.slack.com/">API</a></li>
                            <li><a href="https://slack.com/integrations">Integrations</a></li>
                            <li><a href="https://slack.com/downloads">Download Apps</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-xs-6 nav_col">
                        <ul>
                            <li><a href="https://slack.com/varietypack">Podcast</a></li>
                            <li><a href="http://slackhq.com">Blog</a></li>
                            <li><a href="https://slack.com/help/contact">Contact Us</a></li>
                            <li><a href="https://twitter.com/SlackHQ">@SlackHQ</a></li>
                        </ul>
                    </div>


            </div>
        </aside>
    </header>




    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/colorcode.js"></script>

</body>

</html>
