<% layout('blueprint-company') -%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 class="text-center">
            Company's Jobs
          </h1>
          <br />
          <br />
        </section>



          <div class="row">
          <div class="col-lg-10 col-md-offset-1">
          <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">List of Jobs</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>

                        <tr>

                          <th>Job</th>
                          <th>Candidates</th>
                          <th>More info</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i = 0; i < jobs.length; i++) { %>
                        <tr>

                          <td>  <h4><%= jobs[i].title %> </h4></td>


                          <td><div class="sparkbar"><h4><%= jobs[i].totalCandidates %> / <%= jobs[i].candMax %></h4></div></td>
                          <td><a href="/company-single-job/<%= jobs[i]._id %>" class="label label-success">See more</span></td>
                        </tr>
                        <% } %>

                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="javascript::;" class="btn btn-lg btn-info btn-flat pull-left">Post a new job</a>
                </div><!-- /.box-footer -->
              </div>
            </div>
          </div>
