<% layout('layout') -%>

<h1>Company's Job</h1>

<div class="row">
  <% for(var i=0; i < jobs.length; i++)  {%>
    <div class="col-md-4">
      <a href="/company-single-job/<%= jobs[i]._id %>" style="text-decoration: none">
        <div class="thumbnail">

          <div class="caption">
            <h2><%= jobs[i].title %></h2>

            <h3>Candidates <%= jobs[i].totalCandidates %> / <%= jobs[i].candMax %></h3>
          </div>
        </div>
      </a>
    </div>
    <% } %>
</div>
